.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: start;
}

.inputBox {
  width: 200px;
  height: auto;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs {
  padding: 10px;
  border-radius: 5px;
}

.submit-btn {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: azure;
  cursor: pointer;
}

.todos-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.singleTodo {
  display: flex;
  align-items: start;
  padding: 10px;
  border: 1px solid red;
  border-radius: 5px;
  width: 500px;
  cursor: pointer;
  gap: 20px;
}

.title-desc {
  flex-grow: 2;
  min-width: 300px;
}

.input-checkText {
  flex-grow: 1;
  min-width: 200px;
  word-wrap: break-word;
}

.title-desc .title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  line-height: 0.8;
  text-wrap: wrap;
}

.title-desc .desc {
  margin-top: 20px;
  font-size: 1em;
  font-weight: bold;
}

.input-checkText {
  display: flex;
  gap: 10px;
}

#markAsdone {
  width: 30px;
  margin: 0;
}